{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}

    <div class="container-fluid py-4"><!--https://www.lider.cl/supermercado/product/1004892-->
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <div class="col-sm">
              <div class="card border-2 border-secondary">
                <div class="card-header"><h3>Santa isabel</h3></div>
                <div class="card-body">
                  <form method="POST">
                    <input hidden name="santa" value="ibefr">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-dark">Buscar</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card border-2 border-secondary">
                <div class="card-header">
                  <h3>Rappi Turbo scraper</h3>
                  <form method="POST">
                    {%csrf_token%}
                    <input hidden value="rappi" name="rappi">
                    <button type="submit" class="btn btn-warning">Turbo search</button>
                  </form>
                </div>
              </div>
            </div>
            
            
          </div>
          <div class="row" style="margin-top:20px">
            <div class="col-sm">
              <div class="card border-2 border-secondary">
                <div class="card-header"><h3>Unimarc</h3></div>
                <div class="card-body">
                  <form method="POST">
                    <input hidden name="unimarc" value="ibefr">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-dark">Buscar</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card border-2 border-secondary">
                <div class="card-header">
                  <h3>Pedidos ya</h3>
                </div>
                <div class="card-body">
                  <form method="POST" action="">
                    {%csrf_token%}
                    <input hidden value="pedidos_ya" name="pedidos_ya">
                    <button type="submit" class="btn btn-danger">Pedidos ya search</button>
                  </form>
                </div>
              </div>
          </div>
           
            
          </div>
          
        </div>
        <div class="col-sm">
          <div class="card  border-2 border-info" style="width: 54rem;">
            <div class="card-header">
              <h2>Buscador de productos Lider wallmart</h2>
              <span>Motor de busqueda para codigos de productos lider</span>
          
            </div>
            <div class="card-body">
              <form action="" method="POST">
                {%csrf_token%}
                <label>Id del producto</label>
                <input class="form-control" type="text" name="product_id" placeholder="1004892">
                <button type="submit" class="btn btn-primary">Buscar!</button>
                <input hidden value="id_prod" name="id_prod">
              </form>
            </div>
            <div class="card-footer">
              {%if price%}
              <table class="table">
              <tr>
                <td class="w-30">
                  <div class="d-flex px-2 py-1 align-items-center">
                    <div>
                      <img src="{{img_src}}" alt="Country flag" style="width:80px;height:80px">
                    </div>
                    <div class="ms-4">
                      <p class="text-xs font-weight-bold mb-0">Producto:</p>
                      <h6 class="text-sm mb-0">{{descripcion}}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="text-center">
                    <p class="text-xs font-weight-bold mb-0">Precio:</p>
                    <h6 class="text-sm mb-0">{{price}}</h6>
                  </div>
                </td>
                <td>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseContactos" role="button" aria-expanded="false" aria-controls="collapseContactos">
                  Certificados producto
                </a>
                <div class="collapse" id="collapseContactos">
                  <ul>
                    {%for i in certi%}
                    <li>{{i}}</li>
                    {%endfor%}
                  </ul>
                </div>
              </td>
                <td>
                  <div class="text-center">
                    <p class="text-xs font-weight-bold mb-0">Precio x peso:</p>
                    <h6 class="text-sm mb-0">{{price_gram}}</h6>
                  </div>
                </td>
              </tr>
            </table>
              {%endif%}
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card  border-2 border-info" style="width: 54rem;margin-top: 10px">
            <div class="card-header">
              <h2>Motor de busqueda </h2>
            </div>
            <div class="card-body">
              <form action="" method='POST'>
                {%csrf_token%}
                <label>buscar en lider CL</label>
                <input type="text" name="query" class="form-control">
                <input hidden type="text" value="search" name="search">
                <button class="btn btn-info" type="submit"> Buscar</button>
              </form>
            </div>
            <div class="card-footer">
              <h5>Externals codes</h5>
              {%if codes%}
              <ul>
                {%for i in codes%}
                <li>{{i}}</li>
                {%endfor%}
              </ul>
              {%endif%}
              {%if codes%}
              <h5>Internal codes</h5>
              <ul>
                {%for i in internal%}
                <li>{{i}}</li>
                {%endfor%}
              </ul>
              {%endif%}
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card border-3 border-info">
            <div class="card-header">
              <h3>Buscar en lider</h3>
            </div>
            <div class="card-body">
              <form method="post" aciton="">
                {%csrf_token%}
                <input hidden value="lider" name="lider">
                <button type="submit" class="btn btn-info">Web Scraper lider-wallmart</button>
              </form>
              <a class="btn btn-secondary" href="/lider_data_nueva23.csv">Descargar ultima base de datos lider</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card border-2 border-success">
            <div class="card-header">
              <h3>Jumbo app scraper</h3>
          
            </div>
            <div class="card-body">
              <form method="POST" action="">
                {%csrf_token%}
                <input hidden value="jumbo" name="jumbo">
                <button type="submit" class="btn btn-success">Web Scraper Jumbo app</button>
              </form>
            </div>
          </div>
        </div>
      </div>

<div class="card border-5 border-secondary" style="padding:30px; margin-top:30px">
      <h2 class="table-header">Demo de base de datos</h2>
<div class="table-responsive table-bordered">
  <table class="table table-flush" id="datatable-basic">
    <thead>
    <tr>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Unidad</th>
      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Precio</th>
    </tr>
  </thead>
  <tbody>
    {%for p in productos_rapi%}
    <tr>
      <td>{{p.nombre}}</td>
      <td>{{p.medida}}</td>
      <td>{{p.precio}}</td>
    </tr>
    {%endfor%}
  </tbody>
  </table>
  <button class="btn btn-secondary" onclick="exportData2()">
    <span class="glyphicon glyphicon-download"></span>
    Download
  </button>
</div>
</div>

<div class="table-responsive table-bordered">
  <table class="table table-flush" id="datatable-search">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>SKU</th>
        <th>Precio por unidad</th>
        <th>Precio internet</th>
        <th>Rango de precio</th>
        <th>Rango descuentos</th>
        <th>url foto</th>
      </tr>
      </thead>
      <tbody>
        {%for i in info_lider %}
        <tr>
          {% for e in i %}
          <td>{{e}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
      </table>
</div>

<div class="card" style="margin-top:25px">
  <div class="card-header">
    <h3>Métodos de extracción</h3>
  </div>
  <div class="card-body">
    <ul>
      <li class="list-group-item">
        <h3>Cliente-Servidor</h3>
      </li>
      <li class="list-group-item">
        <h3>Selenium</h3>
      </li>
      <li class="list-group-item">
        <h3>Appium</h3>
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <table class="table table-striped" id="tblStocks">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>ID</th>
        <th>categoria</th>
        <th>sub categoria</th>
        <th>sub-sub categoria</th>
        <th>Precio online</th>
        <th>Precio Lista</th>
        <th>Precio Sin descuento</th>
        <th>Cantidad disponible</th>
      </tr>
    </thead>
    <tbody>
      {%for i in info_j %}
      <tr>
        {%for j in i%}
        <td>{{j}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </tbody>    
  </table>
</div>
<button class="btn btn-secondary" onclick="exportData()">
  <span class="glyphicon glyphicon-download"></span>
  Download
</button>



      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script type="text/javascript" src="downloadFile.js"></script>
<script>
  function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("tblStocks");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
        column5 = row.cells[4].innerText;
        column5 = row.cells[5].innerText;
        column5 = row.cells[6].innerText;
        column5 = row.cells[7].innerText;
        column5 = row.cells[8].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4,
                column5
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Data_jumbo.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}

</script>

<script>
  function exportData2(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("datatable-basic");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,

            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "Data_rappi_turbo.csv");
        document.body.appendChild(link);
         /* download the data file named "Stock_Price_Report.csv" */
        link.click();
}

</script>

<script src="/static/assets/js/plugins/datatables.js"></script>
<script>
  const dataTableBasic = new simpleDatatables.DataTable("#datatable-basic", {
    searchable: false,
    fixedHeight: true
  });

  const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
    searchable: true,
    fixedHeight: true
  });
</script>
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script src="/static/assets/js/plugins/threejs.js"></script>
  <script src="/static/assets/js/plugins/orbit-controls.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Open Sans",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    (function() {
      const container = document.getElementById("globe");
      const canvas = container.getElementsByTagName("canvas")[0];

      const globeRadius = 100;
      const globeWidth = 4098 / 2;
      const globeHeight = 1968 / 2;

      function convertFlatCoordsToSphereCoords(x, y) {
        let latitude = ((x - globeWidth) / globeWidth) * -180;
        let longitude = ((y - globeHeight) / globeHeight) * -90;
        latitude = (latitude * Math.PI) / 180;
        longitude = (longitude * Math.PI) / 180;
        const radius = Math.cos(longitude) * globeRadius;

        return {
          x: Math.cos(latitude) * radius,
          y: Math.sin(longitude) * globeRadius,
          z: Math.sin(latitude) * radius
        };
      }

      function makeMagic(points) {
        const {
          width,
          height
        } = container.getBoundingClientRect();

        // 1. Setup scene
        const scene = new THREE.Scene();
        // 2. Setup camera
        const camera = new THREE.PerspectiveCamera(45, width / height);
        // 3. Setup renderer
        const renderer = new THREE.WebGLRenderer({
          canvas,
          antialias: true
        });
        renderer.setSize(width, height);
        // 4. Add points to canvas
        // - Single geometry to contain all points.
        const mergedGeometry = new THREE.Geometry();
        // - Material that the dots will be made of.
        const pointGeometry = new THREE.SphereGeometry(0.5, 1, 1);
        const pointMaterial = new THREE.MeshBasicMaterial({
          color: "#989db5",
        });

        for (let point of points) {
          const {
            x,
            y,
            z
          } = convertFlatCoordsToSphereCoords(
            point.x,
            point.y,
            width,
            height
          );

          if (x && y && z) {
            pointGeometry.translate(x, y, z);
            mergedGeometry.merge(pointGeometry);
            pointGeometry.translate(-x, -y, -z);
          }
        }

        const globeShape = new THREE.Mesh(mergedGeometry, pointMaterial);
        scene.add(globeShape);

        container.classList.add("peekaboo");

        // Setup orbital controls
        camera.orbitControls = new THREE.OrbitControls(camera, canvas);
        camera.orbitControls.enableKeys = false;
        camera.orbitControls.enablePan = false;
        camera.orbitControls.enableZoom = false;
        camera.orbitControls.enableDamping = false;
        camera.orbitControls.enableRotate = true;
        camera.orbitControls.autoRotate = true;
        camera.position.z = -265;

        function animate() {
          // orbitControls.autoRotate is enabled so orbitControls.update
          // must be called inside animation loop.
          camera.orbitControls.update();
          requestAnimationFrame(animate);
          renderer.render(scene, camera);
        }
        animate();
      }

      function hasWebGL() {
        const gl =
          canvas.getContext("webgl") || canvas.getContext("experimental-webgl");
        if (gl && gl instanceof WebGLRenderingContext) {
          return true;
        } else {
          return false;
        }
      }

      function init() {
        if (hasWebGL()) {
          window
          window.fetch("https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-dashboard-pro/assets/js/points.json")
            .then(response => response.json())
            .then(data => {
              makeMagic(data.points);
            });
        }
      }
      init();
    })();
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
